<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

    <div th:each="peoples : ${users}">
        <a th:href="@{/{id}(id=${peoples.getId()})}" th:text="${peoples}"></a>
    </div>

    <br/>
    <hr/>

    <form th:method="DELETE" th:object="${user}">
        <label for="deleteName">Enter id: </label>
        <input type="text" th:field="*{id}" id="deleteName">
        <br/>
        <input type="submit" value="Delete"/>
    </form>

    <br/>

        <form th:method="POST" th:action="@{/}" th:object="${user}">
            <label for="createName">Enter name: </label>
            <input type="text" th:field="*{name}" id="createName"/>
            <label for="createAge">Enter age: </label>
            <input type="text" th:field="*{age}" id="createAge"/>
            <br/>
            <input type="submit" value="Create"/>
        </form>

</body>
</html>